<%- include('template/header'); -%>

    <div style="">
        <div class="container  py-5">
            <div class="py-5 px-2 bg-dark rounded rounded-lg">
                <div class="row py-5 justify-content-center text-center">
                    <div class="col-md-6 col-lg-5  my-2">
                        <div class="rounded bg-ligh p-4  bg-white shadow-sm" >
                            <p>Find the best answer to your technical question, help others answer theirs</p>
                            <a class="btn btn-lg  btn-danger" href="/taxonomies">Search Repository</a>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-5 my-2">
                        <div class="rounded bg-ligh p-4 bg-white shadow-sm">
                            <p>Find the best answer to your technical question, help others answer theirs</p>
                            <button class="btn btn-lg btn-info mr-1">Get started</button> <button
                                class="btn btn-primary btn-lg ">Signin</button>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-center text-center">
                    <div class="col-md-6">
                        <h1 class="text-enter my-5 text-white fw-bold">Every developer has a
                            tab open to Stack Overflow</h1>
                        <a class="btn btn-danger  btn-lg" href="/taxonomies">Explore</a>
                    </div>
                </div>
            </div>



        </div>
    </div>

    <div class="container my-5">
        <div class="row">
            <% taxonomies.forEach(function(user){ %>
                <div class="col-12 col-md-4 my-2">
                    <%- include('components/taxonomy-card', {user: user}); %>
                </div>
                <% }); %>

        </div>
    </div>

    <%- include('template/footer'); -%>