<%- include('template/header'); -%>

    <div style="background-color: bisque;" class="border-bottom">
        <div class="container py-2">
            <nav aria-label="breadcrumb  py-0">
                <ol class="breadcrumb  my-0">
                    <li class="breadcrumb-item  m-0"><a href="#">Home</a></li>
                    <li class="breadcrumb-item  my-0"><a href="#">Library</a></li>
                    <li class="breadcrumb-item active  my-0" aria-current="page">Project topic</li>
                </ol>
            </nav>
        </div>
    </div>

    <div class="container my-5">
        <div class="row  border rounded">
            <div class="col-12 col-md-12 p-5">
                <h1 class=""> <%- project.title %> 
                </h1>
                <p class="text-muted">
                    2020, Research work
                </p>

                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque qui et hic nam veritatis, ipsum incidunt ut tempore sunt consequuntur, harum iste quibusdam? Quia dolorem, sit obcaecati ullam impedit corporis.
                </p>

                <div class="my-3">
                    <span>
                        <i class="bi bi-tags"></i>
                        Tags
                    </span>
                    <span class="mx-3">
                        <i class="bi bi-file-earmark"></i>
                        0
                    </span>
                    <span class="mx-3">
                        <i class="bi bi-cash-coin"></i>
                        Yes
                    </span>
                    <span>
                        <i class="bi bi-check-all"></i>
                        Abstract
                    </span><br>
                    <div class="mt-2"><span><i class="bi bi-layers"></i> 5 Chapters</span></div>
                </div>

                <p class="my-3">
                    <span class="fw-bold">Publication Date</span>: 2020
                    <br>
                    <span class="fw-bold">Publication Name</span>: Research work
                </p>

                <div>
                    <button class="btn btn-primary btn-lg">
                        <i class="bi bi-download"></i>
                        Download DocX</button>
                    <button class="btn btn-danger btn-lg">
                        <i class="bi bi-credit-card"></i>
                        Pay</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Default Site ads -->
    <div class="my-5">
        <div class="py-5">
            <div class="container">
                <div class="row align-items-md-stretch">
                    <div class="col-md-6 my-2">
                        <div class="h-100 p-5 text-white bg-dark rounded-3">
                            <h2>Sell projects</h2>
                            <p>Getting and finishing up a final year project has never been easy, earn some money as you
                                help others with finished final year projects. We've got you.</p>
                            <button class="btn btn-outline-light" type="button">Get started</button>
                        </div>
                    </div>
                    <div class="col-md-6 my-2">
                        <div class="h-100 p-5 bg-light border rounded-3">
                            <h2>Find project resources</h2>
                            <p>Need not worry about an idea to work on, find ideas to fully completed projects out
                                finalyearcruz, we've got you covered all round... </p>
                            <button class="btn btn-outline-secondary" type="button">Explore</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('template/footer'); -%>