<%- include('template/header'); -%>

    <div style="background-color: bisque;" class="border-bottom">
        <div class="container py-2">
            <nav aria-label="breadcrumb  py-0">
                <ol class="breadcrumb  my-0">
                    <li class="breadcrumb-item  m-0"><a href="#">Home</a></li>
                    <li class="breadcrumb-item  my-0"><a href="#">Library</a></li>
                    <li class="breadcrumb-item active  my-0" aria-current="page">Project topic</li>
                </ol>
            </nav>
        </div>
    </div>

    <div class="container my-5">
        <div class="row  border rounded">
            <div class="col-12 col-md-6 p-5">
                <h5 class="">Performance evaluation of linear discriminant analysis and support vector machines to
                    classify cesarean
                    section
                </h5>
                <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem accusantium animi nostrum dignissimos
                    veritatis sed quod ipsam distinctio itaque veniam commodi, illum reprehenderit nihil dolor
                    voluptatibus impedit rerum unde provident.</p>
                <div>October 12</div>
                <div>Project</div>
                <div>Author</div>
            </div>
            <div class="col-12 col-md-6 p-5">
                <button class="btn btn-primary btn-lg">Purchase</button>
            </div>
        </div>
    </div>

    <!-- Default Site ads -->
    <div class="my-5">
        <div class="py-5">
            <div class="container">
                <div class="row align-items-md-stretch">
                    <div class="col-md-6 my-2">
                        <div class="h-100 p-5 text-white bg-dark rounded-3">
                            <h2>Sell projects</h2>
                            <p>Getting and finishing up a final year project has never been easy, earn some money as you
                                help others with finished final year projects. We've got you.</p>
                            <button class="btn btn-outline-light" type="button">Get started</button>
                        </div>
                    </div>
                    <div class="col-md-6 my-2">
                        <div class="h-100 p-5 bg-light border rounded-3">
                            <h2>Find project resources</h2>
                            <p>Need not worry about an idea to work on, find ideas to fully completed projects out
                                finalyearcruz, we've got you covered all round... </p>
                            <button class="btn btn-outline-secondary" type="button">Explore</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('template/footer'); -%>