<div class="card border-0" style="">
    <div class="card-body ">
        <h5 class="card-title ">Project title goes here</h5>
        <h6 class="card-subtitle mb-2 text-muted">Some quick Title and make up the bulk of the card's
            content.</h6>
        <p class="card-text"></p>


        <div>
            <i class="bi-github" role="img" aria-label="GitHub"></i>
        </div>
    </div>
</div>